.cities {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 30;
  padding: 25px 0 25px 25px;
  width: 370px;
  background: #FFFFFF;
  border: 1px solid #E1ECFF;
  border-radius: 15px;
  box-shadow: 0 0.5rem 2.25rem #0000003d;
  display: none;
  &.active {
    display: block;
  }

  &__caption {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #0a1532;
  }
  &__input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 40px;
    border: 1px solid #5C93F5;
    border-radius: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    color: #838383;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.40039 0.399902C3.99159 0.399902 0.400391 3.9911 0.400391 8.3999C0.400391 12.8087 3.99159 16.3999 8.40039 16.3999C10.3176 16.3999 12.0783 15.7191 13.4582 14.589L18.2348 19.3655C18.3085 19.4423 18.3968 19.5036 18.4945 19.5458C18.5922 19.5881 18.6973 19.6104 18.8038 19.6115C18.9102 19.6125 19.0158 19.5924 19.1143 19.5521C19.2129 19.5119 19.3024 19.4524 19.3776 19.3772C19.4529 19.3019 19.5124 19.2124 19.5526 19.1138C19.5929 19.0153 19.613 18.9097 19.6119 18.8033C19.6109 18.6968 19.5886 18.5917 19.5463 18.494C19.5041 18.3963 19.4428 18.308 19.366 18.2343L14.5895 13.4577C15.7196 12.0778 16.4004 10.3171 16.4004 8.3999C16.4004 3.9911 12.8092 0.399902 8.40039 0.399902ZM8.40039 1.9999C11.9445 1.9999 14.8004 4.8558 14.8004 8.3999C14.8004 11.944 11.9445 14.7999 8.40039 14.7999C4.85629 14.7999 2.00039 11.944 2.00039 8.3999C2.00039 4.8558 4.85629 1.9999 8.40039 1.9999Z' fill='%235C93F5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  &__hide {

    max-height: 350px;
    overflow: auto;
    padding-right: 25px;
  }
  &__item {
    position: relative;
    z-index: 500;
    border-top: 1px solid #b7bbc1;
    padding: 15px 0 15px 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #0A1532;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #5588E0;
      color: #fff;
    }
  }

}

.item_hide {
  display: none;
}

.simplebar-scrollbar::before {
  background-color: #5C93F5;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
.simplebar-track {
  right: 5px;
}
