.form {
  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.3;
    color: #636363;
  }
  &__input {
    padding: 0 11px 0 16px;
    height: 46px;
    display: block;
    width: 100%;
    font-weight: 500;
    line-height: 1.3;
    font-size: 16px;
    color: #0A1532;
    background: #F8F8F8;
    border-radius: 10px;
    border: 1px solid #f8f8f8;
    &::placeholder {
      font-weight: 500;
      font-size: 11px;
      line-height: 1.3;
      color: #B7BBC1;
    }
    &:focus {
      outline: none;
      border-color: #5588e0;
    }
  }
  &__submit {
    padding: 14px 24px;
    width: 100%;
    font-weight: 600;
  }
  &__show-pass {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16.3299C9.61004 16.3299 7.67004 14.3899 7.67004 11.9999C7.67004 9.60992 9.61004 7.66992 12 7.66992C14.39 7.66992 16.33 9.60992 16.33 11.9999C16.33 14.3899 14.39 16.3299 12 16.3299ZM12 9.16992C10.44 9.16992 9.17004 10.4399 9.17004 11.9999C9.17004 13.5599 10.44 14.8299 12 14.8299C13.56 14.8299 14.83 13.5599 14.83 11.9999C14.83 10.4399 13.56 9.16992 12 9.16992Z' fill='%235C93F5'/%3E%3Cpath d='M12 21.02C8.23996 21.02 4.68996 18.82 2.24996 15C1.18996 13.35 1.18996 10.66 2.24996 8.99998C4.69996 5.17998 8.24996 2.97998 12 2.97998C15.75 2.97998 19.3 5.17998 21.74 8.99998C22.8 10.65 22.8 13.34 21.74 15C19.3 18.82 15.75 21.02 12 21.02ZM12 4.47998C8.76996 4.47998 5.67996 6.41998 3.51996 9.80998C2.76996 10.98 2.76996 13.02 3.51996 14.19C5.67996 17.58 8.76996 19.52 12 19.52C15.23 19.52 18.32 17.58 20.48 14.19C21.23 13.02 21.23 10.98 20.48 9.80998C18.32 6.41998 15.23 4.47998 12 4.47998Z' fill='%235C93F5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    &.is-active {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.47004 15.2799C9.28004 15.2799 9.09004 15.2099 8.94004 15.0599C8.12004 14.2399 7.67004 13.1499 7.67004 11.9999C7.67004 9.60992 9.61004 7.66992 12 7.66992C13.15 7.66992 14.24 8.11992 15.06 8.93992C15.2 9.07992 15.28 9.26992 15.28 9.46992C15.28 9.66992 15.2 9.85992 15.06 9.99992L10 15.0599C9.85004 15.2099 9.66004 15.2799 9.47004 15.2799ZM12 9.16992C10.44 9.16992 9.17004 10.4399 9.17004 11.9999C9.17004 12.4999 9.30004 12.9799 9.54004 13.3999L13.4 9.53992C12.98 9.29992 12.5 9.16992 12 9.16992Z' fill='%235C93F5'/%3E%3Cpath d='M5.59997 18.51C5.42997 18.51 5.24997 18.45 5.10997 18.33C4.03997 17.42 3.07997 16.3 2.25997 15C1.19997 13.35 1.19997 10.66 2.25997 8.99998C4.69997 5.17998 8.24997 2.97998 12 2.97998C14.2 2.97998 16.37 3.73998 18.27 5.16998C18.6 5.41998 18.67 5.88998 18.42 6.21998C18.17 6.54998 17.7 6.61998 17.37 6.36998C15.73 5.12998 13.87 4.47998 12 4.47998C8.76997 4.47998 5.67997 6.41998 3.51997 9.80998C2.76997 10.98 2.76997 13.02 3.51997 14.19C4.26997 15.36 5.12997 16.37 6.07997 17.19C6.38997 17.46 6.42997 17.93 6.15997 18.25C6.01997 18.42 5.80997 18.51 5.59997 18.51Z' fill='%235C93F5'/%3E%3Cpath d='M11.9999 21.02C10.6699 21.02 9.36994 20.75 8.11994 20.22C7.73994 20.06 7.55994 19.62 7.71994 19.24C7.87994 18.86 8.31994 18.68 8.69994 18.84C9.75994 19.29 10.8699 19.52 11.9899 19.52C15.2199 19.52 18.3099 17.58 20.4699 14.19C21.2199 13.02 21.2199 10.98 20.4699 9.81C20.1599 9.32 19.8199 8.85 19.4599 8.41C19.1999 8.09 19.2499 7.62 19.5699 7.35C19.8899 7.09 20.3599 7.13 20.6299 7.46C21.0199 7.94 21.3999 8.46 21.7399 9C22.7999 10.65 22.7999 13.34 21.7399 15C19.2999 18.82 15.7499 21.02 11.9999 21.02Z' fill='%235C93F5'/%3E%3Cpath d='M12.69 16.2699C12.34 16.2699 12.02 16.0199 11.95 15.6599C11.87 15.2499 12.14 14.8599 12.55 14.7899C13.65 14.5899 14.57 13.6699 14.77 12.5699C14.85 12.1599 15.24 11.8999 15.65 11.9699C16.06 12.0499 16.33 12.4399 16.25 12.8499C15.93 14.5799 14.55 15.9499 12.83 16.2699C12.78 16.2599 12.74 16.2699 12.69 16.2699Z' fill='%235C93F5'/%3E%3Cpath d='M1.99994 22.7502C1.80994 22.7502 1.61994 22.6802 1.46994 22.5302C1.17994 22.2402 1.17994 21.7602 1.46994 21.4702L8.93994 14.0002C9.22994 13.7102 9.70994 13.7102 9.99994 14.0002C10.2899 14.2902 10.2899 14.7702 9.99994 15.0602L2.52994 22.5302C2.37994 22.6802 2.18994 22.7502 1.99994 22.7502Z' fill='%235C93F5'/%3E%3Cpath d='M14.53 10.2199C14.34 10.2199 14.15 10.1499 14 9.99994C13.71 9.70994 13.71 9.22994 14 8.93994L21.47 1.46994C21.76 1.17994 22.24 1.17994 22.53 1.46994C22.82 1.75994 22.82 2.23994 22.53 2.52994L15.06 9.99994C14.91 10.1499 14.72 10.2199 14.53 10.2199Z' fill='%235C93F5'/%3E%3C/svg%3E%0A");
    }
  }
}


//checkbox
.checkbox {
  display: none;
  &__label {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 29px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.3;
    color: #636363;
    cursor: pointer;
    a {
      color: #5588e0;
    }
  }
  & + &__pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #5C93F5;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
  }
  & + &__pane::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 12px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.2501 6.4324L1.8176 3.9999L0.992188 4.82531L4.2501 8.08323L11.2501 1.08323L10.4247 0.257812L4.2501 6.4324Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  &:checked + &__pane {
    background-color: #5C93F5;
  }
  &:checked + &__pane::before {
    opacity: 1;
  }
}

//input count(number)
.input-count {
  display: flex;
  align-items: center;
  gap: 0 10px;
  &__btn {
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #0A1532;
  }
  &__input {
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #0A1532;
    text-align: center;
    width: 23px;
    height: 27px;
    left: 122px;
    top: 93px;
    border: 1px solid #5588e0;
    border-radius: 8px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      outline: none;
    }
  }
}

//custom select
.select2-container {
  flex: 1 0 auto;
}
.select2-container--default .select2-selection--single {
  border: none;
  border-bottom: 1px solid #5c93f5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-weight: 500;
  line-height: 1.3;
  color: #5c93f5;
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 5px;
  position: absolute;
  top: 35%;
  right: 1px;
  width: 7px;

  background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.8225 0.25L3.5 3.03138L6.1775 0.25L7 1.10628L3.5 4.75L0 1.10628L0.8225 0.25Z' fill='%235C93F5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transition: transform .3s ease-in-out;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-results>.select2-results__options {
  max-height: 80vh;
}
.select2-container--open .select2-dropdown--below {
  border: 1px solid #E1ECFF;
  padding: 15px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0 0.5rem 2.25rem rgba(0, 0, 0, 0.2392156863);
  box-shadow: 0 0.5rem 2.25rem rgba(0, 0, 0, 0.2392156863);
  width: 250px;
}
.select2-results__option--selectable {
  padding: 15px 0 15px 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  color: #0A1532;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg);
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  float: left;
  position: absolute;
  left: -30px;
  margin-right: 10px;
}


//radio button
.radio {
  display: none;
  &__label {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 29px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3;
    color: #0A1532;
    cursor: pointer;
  }
  & + &__pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #5C93F5;
    border-radius: 50%;
  }
  & + &__pane::before {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5C93F5;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  &:checked + &__pane::before {
    opacity: 1;
  }
}

//checkbox switch
.switch {
  display: none;
  &__label {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 29px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.3;
    color: #636363;
    cursor: pointer;
    a {
      color: #5588e0;
    }
  }
  & + &__pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 30px;
    border: 1px solid #838383;
    border-radius: 100px;
    background-color: #fff;
    transition: border-color .3s ease-in-out;
  }
  & + &__pane::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #838383;
    transition: background-color .3s ease-in-out, left .3s ease-in-out;
  }
  &:checked + &__pane {
    border-color: #5C93F5;
  }
  &:checked + &__pane::before {
    background-color: #5C93F5;
    left: 37px;
  }
}
