<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="" class="header__logo footer__logo logo">
          <img src="assets/img/sprite.svg#logo" alt="Logo" class="logo__icon">
          <p class="logo__caption">Название <span>Компании</span>
          </p>
        </a>
      </div>
      <div class="col-sm-10 col-md-7 col-lg-5">
        <div class="footer__center">
          <div class="footer__nav footer-nav">
            <div class="footer-nav__col">
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Каталог</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">О нас</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Доставка и оплата</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Вопросы и ответы</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Контакты</a></li>
              </ul>
            </div>
            <div class="footer-nav__col">
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Для женщин </a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Для мужчин</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">БАДы в сезон простуд</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Для беременных и кормящих</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Для нервной системы</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Для пищеварения и обмена веществ</a>
                </li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Фиточаи</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Прочие БАДы</a></li>
              </ul>
              <button  class="btn-reset footer-nav__link footer-nav__link_all js-open-catalog">Ещё</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-5">
        <div class="flex footer__right">
          <div class="footer__phone-wr">
            <a href="tel:+78461234567" class="header__phone footer__phone">8 (846) 123-45-67</a>
            <a href="" class="footer__links">Политика конфиденциальности</a>
            <a href="" class="footer__links">Публичная оферта</a>
          </div>
          <div>
            <div class="footer__subscribe subscribe">
              <p class="subscribe__caption">Подписаться на рассылку</p>
              <form action="" class="subscribe__form">
                <input
                  type="email"
                  name="subscribe-email"
                  placeholder="E-mail"
                  class="subscribe__input">
                <button class="btn-reset subscribe__submit">
                  <svg width="8" height="16">
                    <use xlink:href="assets/img/sprite.svg#icon-subscribe-submit"></use>
                  </svg>
                </button>
              </form>
              <p class="subscribe__agree">Подписываясь на рассылку, я принимаю <a href="">политику
                конфиденциальности</a>
              </p>
            </div>
            <div class="footer__pay">
              <p>Вы можете оплатить любым способом</p>
              <img src="assets/img/pays.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
