<header class="header">
  <div class="container header__top">
    <div class="row align-items-center">
      <div class="col-md-2 d-none d-md-block">
        <a href="" class="header__logo logo">
          <img src="assets/img/sprite.svg#logo" alt="Logo" class="logo__icon">
          <p class="logo__caption">Название <span>Компании</span>
          </p>
        </a>
      </div>
      <div class="col-lg-6 col-2 position-static">
        <button class="burger header__burger btn-reset d-flex d-lg-none js-open-mobile-menu">
          <span></span><span></span><span></span>
        </button>
        <nav class="top-nav header__nav js-mobile-menu">
          <button class="d-block d-lg-none btn-reset top-nav__close js-close-mobile-menu">
            <svg width="25" height="25">
             <use xlink:href="assets/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <ul class="top-nav__list">
            <li class="top-nav__item"><a href="" class="top-nav__link">О нас</a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Доставка и оплата</a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Вопросы и ответы</a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Новости и статьи </a></li>
            <li class="top-nav__item"><a href="" class="top-nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-10 col-md-8 col-lg-4">
        <div class="header__contacts position-relative">
          <div class="city header__city">
            <button
              class="btn-reset city__btn js-open-cities"
              type="button">
              Самара
            </button>
            <div class="cities">
              <div class="cities__hide" >
                <div class="cities__heading">
                <input type="text" class="cities__input" autocomplete="off" value="" placeholder="Поиск по адресу">
                </div>
                <div class="cities__wr" id="citiesList">
                <ul class="cities__list"></ul>
                </div>
              </div>
            </div>
          </div>
          <a href="tel:+78461234567" class="header__phone">8 (846) 123-45-67</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <div class="header__center position-relative">
          <a href="" class="header__logo logo d-md-none">
            <img src="assets/img/sprite.svg#logo" alt="Logo" class="logo__icon">
            <p class="logo__caption">Название <span>Компании</span>
            </p>
          </a>
          <div class="header-catalog__wr">
            <div class="header-catalog">
              <button class="js-open-header-catalog header-catalog__btn btn-reset">
              <span class="header-catalog__lines">
                <i></i><i></i><i></i>
              </span>
                Каталог
              </button>
              <div class="catalog-menu js-catalog-menu">

                <p class="catalog-menu__caption">Витамины и БАДы</p>
                <ul class="catalog-menu__nav">
                  <li class="catalog-menu__nav-item js-catalog-sub-item">
                    <a href="" class="catalog-menu__nav-link ">
                      Витамины и минералы
                      <svg>
                        <use xlink:href="assets/img/sprite.svg#icon-sub-menu"></use>
                      </svg>
                    </a>
                    <ul class="sub-menu">
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамин А</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамин B</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамин C</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамин D</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамин E</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамин K</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамины для кожи, волос и ногтей</a>
                      </li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамины для детей</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамины для беременных и кормящих</a>
                      </li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамины для спортсменов</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витамины для зрения</a></li>
                      <li class="sub-menu__item"><a href="" class="sub-menu__link">Витаминно-минеральные комплексы</a>
                      </li>
                    </ul>
                  </li>
                  <li class="catalog-menu__nav-item js-catalog-sub-item">
                    <a href="" class="catalog-menu__nav-link ">
                      БАДы
                      <svg>
                        <use xlink:href="assets/img/sprite.svg#icon-sub-menu"></use>
                      </svg>
                    </a>
                      <ul class="sub-menu">
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для женщин</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для мужчин</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">В сезон простуд</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для беременных и кормящих</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для глаз</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для детей и подростков</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для иммунитета</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для кожи и волос</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для коррекции веса</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для костей и суставов</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для нервной системы</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для пищеварения и обмена веществ</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для печени</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Поддержка здоровья легких</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Дефицит йода</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Магний</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для сердца и сосудов</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для спортсменов</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Для улучшения памяти</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">От вредных привычек</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">От паразитов</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">При диабете</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">При климаксе</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Прочие БАДы</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Фиточаи</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Омега-3</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Гематоген</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Дефицит железа</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Цинк</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Эндокринная система</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Кальций</a></li>
                        <li class="sub-menu__item"><a href="" class="sub-menu__link">Селен</a></li>
                      </ul>
                  </li>
                </ul>
              </div>
            </div>
            <form class="header-search">
              <input placeholder="Введите название препарата" autocomplete="off" class="header-search__input"
                     type="search" name="search" id="search">
              <button class="header-search__submit btn-reset"><span>Найти</span></button>
            </form>
          </div>
          <a href="" class="header-favorite">
            <span>Избранное</span>
          </a>
          <a href="" class="header-cart">
            <div class="header-cart__icon">
              <svg class="" width="22" height="19">
                <use xlink:href="assets/img/sprite.svg#icon-cart"></use>
              </svg>
              <div class="header-cart__count">1</div>
            </div>
            <p class="header-cart__caption">Корзина</p>
          </a>
          <a href="#login" data-fancybox class="header-login">
            <svg class="header-login__icon" width="18" height="19">
              <use xlink:href="assets/img/sprite.svg#icon-user"></use>
            </svg>
            <p class="header-login__caption">{{userName}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 header__bottom header-tags">
        <ul class="header-tags__list">
          <li class="header-tags__item"><a href="" class="header-tags__link">Для женщин</a></li>
          <li class="header-tags__item"><a href="" class="header-tags__link">Для мужчин</a></li>
          <li class="header-tags__item"><a href="" class="header-tags__link">БАДы в сезон простуд</a></li>
          <li class="header-tags__item"><a href="" class="header-tags__link">Для беременных и кормящих</a></li>
          <li class="header-tags__item"><a href="" class="header-tags__link">Для нервной системы</a></li>
          <li class="header-tags__item"><a href="" class="header-tags__link">Для пищеварения и обмена веществ</a></li>
        </ul>
        <button class="header-tags__btn btn-reset js-open-catalog">+Еще</button>
      </div>
    </div>
  </div>
</header>
