<div class="hide-filters js-hide-sort">
  <div class="hide-filters__heading">
    <button class="btn-reset js-filters-closing hide-filters__close col-4 p-0">
      <svg width="20" height="20">
        <use xlink:href="assets/img/sprite.svg#arrow-close-hide-blocks"></use>
      </svg>
    </button>
    <p class="hide-filters__caption col-4 p-0">Сортировка</p>
  </div>
  <div class="hide-filters__body">
    <label for="sort-one" class="radio__label hide-filters__label-sort">
      <input type="radio" name="sort[]" id="sort-one" class="radio">
      <span class="radio__pane"></span>
      По алфавиту (А-Я)
    </label>
    <label for="sort-two" class="radio__label hide-filters__label-sort">
      <input type="radio" name="sort[]" id="sort-two" class="radio" checked>
      <span class="radio__pane"></span>
      По алфавиту (Я-А)
    </label>
    <label for="sort-three" class="radio__label hide-filters__label-sort">
      <input type="radio" name="sort[]" id="sort-three" class="radio">
      <span class="radio__pane"></span>
      По возрастанию цены
    </label>
    <label for="sort-four" class="radio__label hide-filters__label-sort">
      <input type="radio" name="sort[]" id="sort-four" class="radio">
      <span class="radio__pane"></span>
      По убыванию цены
    </label>
  </div>
  <button class="btn btn-reset js-filters-closing w-100 hide-filters__btn">Применить</button>
</div>
<div class="hide-filters js-hide-filters">
  <div class="hide-filters__heading">
    <button class="btn-reset js-filters-closing hide-filters__close col-4 p-0">
      <svg width="20" height="20">
        <use xlink:href="assets/img/sprite.svg#arrow-close-hide-blocks"></use>
      </svg>
    </button>
    <p class="hide-filters__caption col-4 p-0">Фильтры</p>
    <button class="btn-reset hide-filters__clear js-clear-filters col-4 p-0">Сбросить</button>
  </div>
  <div class="hide-filters__body">
    <label for="sales" class="switch__label hide-filters__label-sort border-0 p-0">
      <input type="checkbox" name="sales" id="sales" class="switch" checked>
      <span class="switch__pane"></span>
      Товары со скидкой
    </label>
    <div class="hide-filters__input-wr">
      <p class="hide-filters__caption w-100 mb-3 text-left">Диапазон цен</p>
      <label for="filter-price-min" class="hide-filters__label-filter">
        <input type="number" name="filter-price-min" id="filter-price-min" placeholder="0"
               class="form__input hide-filters__input" value="">
        <span class="hide-filters__input-caption">от</span>
      </label>
      <label for="filter-price-max" class="hide-filters__label-filter">
        <input type="number" name="filter-price-max" id="filter-price-max" placeholder="500 000"
               class="form__input hide-filters__input" value="">
        <span class="hide-filters__input-caption">до</span>
      </label>
    </div>
  </div>
  <button class="btn btn-reset js-filters-closing w-100 hide-filters__btn">Применить</button>
</div>
