<section class="how-order">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="block-heading">
          <h2 class="block-heading__title">Как оформить заказ</h2>
        </div>
        <p class="how-order__subtitle">Мы собрали самые актуальные вопросы от наших клиентов </p>
        <a href="" class="btn btn-reset how-order__btn">Все ответы на вопросы</a>
      </div>
      <div class="col-md-8">
        <div id="accordion" class="accordion how-order__accordion">
          <!-- Item-->
          <div class="accordion__item">
            <div class="accordion__heading" data-toggle="collapse" data-target="#collapseOne">
              <svg width="36" height="28" class="accordion__icon">
                <use xlink:href="assets/img/sprite.svg#icon-acc-01"></use>
              </svg>
              <p class="accordion__caption">Выберите подходящий товар</p>
              <svg width="20" height="13" class="accordion__icon-open">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
              <div class="accordion__content">
                Воспользуйтесь поиском, чтобы найти необходимый товар. Товар можно заказать только до 3 штук
                одновременно и с ограничением по весу в 500 гр-1000 гр. <a href=""
                                                                           class="link-arrow link-arrow_blue accordion__link">
                Читать новость
                <svg width="16" height="9">
                  <use xlink:href="assets/img/sprite.svg#icon-arrow-blue"></use>
                </svg>
              </a>
              </div>
            </div>
          </div>
          <!-- Item END-->
          <!-- Item-->
          <div class="accordion__item">
            <div class="accordion__heading collapsed" data-toggle="collapse" data-target="#collapseTwo">
              <svg width="40" height="41" class="accordion__icon">
                <use xlink:href="assets/img/sprite.svg#icon-acc-02"></use>
              </svg>
              <p class="accordion__caption">Оформите заказ на сайте</p>
              <svg width="20" height="13" class="accordion__icon-open">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
            <div id="collapseTwo" class="collapse">
              <div class="accordion__content">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
          <!-- Item END-->
          <div class="accordion__item">
            <div class="accordion__heading collapsed" data-toggle="collapse" data-target="#collapseThree">
              <svg width="39" height="37" class="accordion__icon">
                <use xlink:href="assets/img/sprite.svg#icon-acc-03"></use>
              </svg>
              <p class="accordion__caption">Получите заказ в пункте выдачи</p>
              <svg width="20" height="13" class="accordion__icon-open">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </div>
            <div id="collapseThree" class="collapse">
              <div class="accordion__content">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
