<section class="product-list last-viewed">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="block-heading">
          <h2 class="block-heading__title">Последние просмотренные товары</h2>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper product-lis__swiper js-product-list-swiper">
          <div class="product-list__items swiper-wrapper">
            <div class="product-list__item swiper-slide">
              <img src="assets/img/pr-01.jpg" alt="" class="product-list__img">
              <div class="product-list__info">
                <p class="product-list__caption">а-Токоферола ацетат капс 100 мг x30
                </p>
                <div class="product-list__price">
                  <p class="product-list__now-price">590 руб.</p>
                  <p class="product-list__old-price">680 руб.</p>
                </div>
                <div class="product-list__buy">
                  <button class="btn btn-reset product-list__add-to-cart js-add-to-cart">В корзину</button>
                  <div class="input-count">
                    <button class="btn-reset input-count__btn input-count_minus" id="minus">-</button>
                    <div class="input-count__wrapper">
                      <input type="number"
                             class="input-count__input js-input-number"
                             step="1" min="1" max=""
                             name="number"
                             value="1"
                             title="Кол-во"
                             size="4"
                             pattern="[0-9]*" inputmode="numeric">
                    </div>
                    <button class="btn-reset input-count__btn input-count_plus" id="plus">+</button>
                  </div>
                </div>
              </div>
              <button class="btn-reset to-favorite product-list__to-favorite js-add-to-favorite">
                <svg width="20px" height="22px">
                  <use xlink:href="assets/img/sprite.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
            <div class="product-list__item swiper-slide">
              <img src="assets/img/pr-06.jpg" alt="" class="product-list__img">
              <div class="product-list__info">
                <p class="product-list__caption">Аминазин табл п о пленочн 25 мг уп конт яч/пач карт x10</p>
                <div class="product-list__price">
                  <p class="product-list__now-price">1979 руб.</p>
                  <p class="product-list__old-price">2590 руб.</p>
                </div>
                <div class="product-list__buy">
                  <button class="btn btn-reset product-list__add-to-cart js-add-to-cart">В корзину</button>
                  <div class="input-count">
                    <button class="btn-reset input-count__btn input-count_minus" id="minus">-</button>
                    <div class="input-count__wrapper">
                      <input type="number"
                             class="input-count__input js-input-number"
                             step="1" min="1" max=""
                             name="number"
                             value="1"
                             title="Кол-во"
                             size="4"
                             pattern="[0-9]*" inputmode="numeric">
                    </div>
                    <button class="btn-reset input-count__btn input-count_plus" id="plus">+</button>
                  </div>
                </div>
              </div>
              <button class="btn-reset to-favorite product-list__to-favorite js-add-to-favorite">
                <svg width="20px" height="22px">
                  <use xlink:href="assets/img/sprite.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
            <div class="product-list__item swiper-slide">
              <img src="assets/img/pr-07.jpg" alt="" class="product-list__img">
              <div class="product-list__info">
                <p class="product-list__caption">Андрографис иммуно комплекс капс x30
                </p>
                <div class="product-list__price">
                  <p class="product-list__now-price">140 руб.</p>
                  <p class="product-list__old-price">289 руб.</p>
                </div>
                <div class="product-list__buy">
                  <button class="btn btn-reset product-list__add-to-cart js-add-to-cart">В корзину</button>
                  <div class="input-count">
                    <button class="btn-reset input-count__btn input-count_minus" id="minus">-</button>
                    <div class="input-count__wrapper">
                      <input type="number"
                             class="input-count__input js-input-number"
                             step="1" min="1" max=""
                             name="number"
                             value="1"
                             title="Кол-во"
                             size="4"
                             pattern="[0-9]*" inputmode="numeric">
                    </div>
                    <button class="btn-reset input-count__btn input-count_plus" id="plus">+</button>
                  </div>
                </div>
              </div>
              <button class="btn-reset to-favorite product-list__to-favorite js-add-to-favorite">
                <svg width="20px" height="22px">
                  <use xlink:href="assets/img/sprite.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
            <div class="product-list__item swiper-slide">
              <img src="assets/img/pr-08.jpg" alt="" class="product-list__img">
              <div class="product-list__info">
                <p class="product-list__caption">Альфарона лиоф д/приг р-ра д/интраназ введ 50000 МЕ x1
                </p>
                <div class="product-list__price">
                  <p class="product-list__now-price">5990 руб.</p>
                  <p class="product-list__old-price">6990 руб.</p>
                </div>
                <div class="product-list__buy">
                  <button class="btn btn-reset product-list__add-to-cart js-add-to-cart">В корзину</button>
                  <div class="input-count">
                    <button class="btn-reset input-count__btn input-count_minus" id="minus">-</button>
                    <div class="input-count__wrapper">
                      <input type="number"
                             class="input-count__input js-input-number"
                             step="1" min="1" max=""
                             name="number"
                             value="1"
                             title="Кол-во"
                             size="4"
                             pattern="[0-9]*" inputmode="numeric">
                    </div>
                    <button class="btn-reset input-count__btn input-count_plus" id="plus">+</button>
                  </div>
                </div>
              </div>
              <button class="btn-reset to-favorite product-list__to-favorite js-add-to-favorite">
                <svg width="20px" height="22px">
                  <use xlink:href="assets/img/sprite.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
            <div class="product-list__item swiper-slide">
              <img src="assets/img/pr-09.jpg" alt="" class="product-list__img">
              <div class="product-list__info">
                <p class="product-list__caption">Антистресс ВиТайм Аквастик сироп в стиках 10 мл x10</p>
                <div class="product-list__price">
                  <p class="product-list__now-price">1550 руб.</p>
                  <p class="product-list__old-price">2900 руб.</p>
                </div>
                <div class="product-list__buy">
                  <button class="btn btn-reset product-list__add-to-cart js-add-to-cart">В корзину</button>
                  <div class="input-count">
                    <button class="btn-reset input-count__btn input-count_minus" id="minus">-</button>
                    <div class="input-count__wrapper">
                      <input type="number"
                             class="input-count__input js-input-number"
                             step="1" min="1" max=""
                             name="number"
                             value="1"
                             title="Кол-во"
                             size="4"
                             pattern="[0-9]*" inputmode="numeric">
                    </div>
                    <button class="btn-reset input-count__btn input-count_plus" id="plus">+</button>
                  </div>
                </div>
              </div>
              <button class="btn-reset to-favorite product-list__to-favorite js-add-to-favorite">
                <svg width="20px" height="22px">
                  <use xlink:href="assets/img/sprite.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev product-list__nav-btn product-list__nav-btn_prev">
          <svg width="28" height="16">
            <use xlink:href="assets/img/sprite.svg#icon-arrow-right-small"></use>
          </svg>
        </div>
        <div class="swiper-button-next product-list__nav-btn product-list__nav-btn_next">
          <svg width="28" height="16">
            <use xlink:href="assets/img/sprite.svg#icon-arrow-right-small"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
