<ul class="pagination">
  <li class="pagination__item"><a href="" class="pagination__link pagination__link_arrow pagination__link_prev">
    <svg width="6" height="9" >
      <use xlink:href="assets/img/sprite.svg#icon-arrow-right-small"></use>
    </svg>
  </a></li>
  <li class="pagination__item"><span href="" class="pagination__link is-active">1</span></li>
  <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
  <li class="pagination__item"><a href="" class="pagination__link pagination__link_intermediate">...</a></li>
  <li class="pagination__item"><a href="" class="pagination__link">15</a></li>
  <li class="pagination__item"><a href="" class="pagination__link pagination__link_arrow pagination__link_next">
    <svg width="6" height="9" >
      <use xlink:href="assets/img/sprite.svg#icon-arrow-right-small"></use>
    </svg>
  </a></li>
</ul>
