.login {
  display: none;
  padding: 30px 50px;
  width: 400px;
  max-width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(204, 204, 204, 0.25);
  border-radius: 15px;
  @include r(480) {
    padding: 20px 30px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    gap: 0 20px;
  }
  &__btn {
    font-weight: 500;
    line-height: 1.3;
    color: #838383;
    border-bottom: 1px solid transparent;
    transition: color .3s ease-in-out, border-color .3s ease-in-out;
    &.active,
    &:hover {
      color: #5c93f5;
      border-color: #5c93f5;
    }
    &:hover {
      cursor: pointer;
    }
    &.active:hover {
      cursor: text;
    }
  }
  &__link {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    color: #5C93F5;
  }
  .fancybox-content {
    cursor: default;
  }
}


.fancybox-slide--html .fancybox-close-small {
  color: #5588E0;
}
